<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p (%file:%line\) - %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 日志文件目录，属性 -->
	<appender name="baselog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log/base.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/base.log.%d.%i</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 64 MB -->
				<maxFileSize>64 MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d %p (%file:%line\)- %m%n
			</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<!-- 日志记录的包名和日志级别, 日志写入地址 -->
	<logger name="com.springboot.test" level="TRACE" >
	  	<appender-ref ref="baselog"/>
	</logger>
	
	
	
</configuration>